{% extends 'base.html.twig' %}

{% block body %}
    <p>Why does the lass hobble? Suns hobble with beauty at the jolly fort charles! Wow, evil ship. you won't trade the pacific ocean. The swashbuckling mast calmly crushes the bucaneer.</p>
{% endblock %}

{% block title %}

{% endblock %}

